{% extends 'base/base.html' %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Codavar<small class="text-muted h5">Beta</small></h1>
    <p class="lead">Codavar is an automated code judgment system which is currently able to test front-end codes!</p>
  </div>
</div>

<div class="container">
  <h2 class="display-6 mb-4">Active Contests</h2>
  {% for contest in contests %}
  <div class="card mb-3 shadow-sm">
    <div class="card-body">
      <div class="row text-center">
        <div class="col-md-3 pb-3 pb-md-0">
            <small class="d-block font-weight-bold mb-2">Contest Name</small>
            <h3 class="h5">{{ contest.name }}</h3>
        </div>

        <time class="col-md-3 pb-3 pb-md-0" datetime="{{ contest.start_date.isoformat }}" title="{{ contest.start_date|date:"d M Y H:i"}}">
          <small class="d-block font-weight-bold mb-2">Start Date</small>
          {% if contest.has_started %}
            <div class="start-time-fix">{{ contest.start_date|date:"d M Y H:i"}}</div>
          {% else %}
            <div class="start-time-countdown d-flex justify-content-center" data-start-date="{{contest.start_date.isoformat}}"></div>
          {% endif %}
        </time>

        <div class="col-md-3 pb-3 pb-md-0">
            <small class="d-block font-weight-bold mb-2">Contest Duration</small>
            <div class="duration d-flex justify-content-center" data-duration="{{contest.duration.total_seconds}}"></div>
        </div>
        
        <div class="col-md-3 align-self-center">
          {% if contest.has_ended %}
            <a href="{% url 'contest_index' contest.pk %}" class="btn btn-block btn-secondary" role="button">Review</a>
          {% else %}
            {% if user in contest.participants.all %}
            <a
              href="{% url 'contest_index' contest.pk %}"
              class="btn btn-block btn-primary {% if not contest.is_in_progress %}disabled{% endif %}"
              role="button">Enter</a>
            {% else %}
            <a href="{% url 'contest_registration' contest.pk %}" class="btn btn-block btn-success" role="button">Register</a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block javascript %}
<script>
  const contestsDuration = document.querySelectorAll('.duration');
  contestsDuration.forEach(dur => {
    const duration = dur.dataset.duration;

    const d = Math.floor(duration / 86400);
    const h = Math.floor((duration % 86400) / 3600);
    const m = Math.floor((duration % 3600) / 60);

    let htmlString = "";

    if (d) htmlString += `<small class="text-center mx-1"><b class="h6">${d}</b><br>days</small>`;
    if (h) htmlString += `<small class="text-center mx-1"><b class="h6">${h}</b><br>hours</small>`;
    if (m) htmlString += `<small class="text-center mx-1"><b class="h6">${m}</b><br>minutes</small>`;

    dur.innerHTML = htmlString;
  })


  function getDistanceTime(endDate) {
    const distance = new Date(endDate) - new Date();

    let time = {d: 0, h: 0, m: 0, s: 0};

    if (distance >= 0) {
      time.d = Math.floor(distance / 86400000);
      time.h = Math.floor((distance % 86400000) / 3600000);
      time.m = Math.floor((distance % 3600000) / 60000);
      time.s = Math.floor((distance % 60000) / 1000);
    }

    return time;
  }

  function displayCountDown(node) {
    const time = getDistanceTime(node.dataset.startDate);

    let htmlString = `<small class="text-center mx-1"><b class="h6">${time.d}</b><br>days</small>`;
    htmlString += `<small class="text-center mx-1"><b class="h6">${time.h}</b><br>hours</small>`;
    htmlString += `<small class="text-center mx-1"><b class="h6">${time.m}</b><br>minutes</small>`;
    htmlString += `<small class="text-center mx-1"><b class="h6">${time.s}</b><br>seconds</small>`;

    node.innerHTML = htmlString;
  }

  const startTimeCountdowns = document.querySelectorAll('.start-time-countdown');

  startTimeCountdowns.forEach(displayCountDown);

  const contestInterval = setInterval(() => {
    startTimeCountdowns.forEach(displayCountDown);
  }, 1000);
</script>
{% endblock %}