amqp==2.4.1
billiard==3.5.0.5
celery==4.2.1
certifi==2019.3.9
chardet==3.0.4
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.1.5
django-allauth==0.39.1
django-crispy-forms==1.7.2
django-recaptcha==2.0.2
django-summernote==0.8.11.4
django-tawkto==0.2
django-widget-tweaks==1.4.3
idna==2.8
kombu==4.2.2.post1
Markdown==3.0.1
oauthlib==3.0.1
pkg-resources==0.0.0
python-decouple==3.1
python-magic==0.4.15
python3-openid==3.1.0
pytz==2018.9
requests==2.21.0
requests-oauthlib==1.2.0
selenium==3.141.0
urllib3==1.24.1
vine==1.2.0
