{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-10 col-sm-12">
      <div class="card shadow-sm">
        <div class="card-body">
          <h3 class="card-title">{% trans "Sign In" %}</h3>

          {% get_providers as socialaccount_providers %}

          {% if socialaccount_providers %}
          <p>{% blocktrans with site.name as site_name %}Please sign in with one
          of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
          for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

          <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

          </div>

          {% include "socialaccount/snippets/login_extra.html" %}

          {% endif %}

          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn btn-primary btn-block">{% trans "Sign In" %}</button>
            <small class="d-block text-center mt-3">
              <a href="{% url 'account_reset_password' %}" class="text-decoration-none">
                {% trans "Forgot your password?" %}
              </a>
            </small>
          </form>
        </div>
        <div class="card-footer text-muted text-center">
            New to Codavar? <a href="{{ signup_url }}" class="text-decoration-none">
            {% trans "Create an account" %}
            </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
