{% extends "account/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10 col-sm-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">Sign up</h3>
                    <form method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button type="submit" class="btn btn-primary btn-block">Create an account</button>
                    </form>
                </div>
                <div class="card-footer text-muted text-center">
                    Already have an account? <a href="{{ login_url }}" class="text-decoration-none">Sign in</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
