<div class="nav-scroller bg-white shadow-sm">
    <nav class="nav nav-underline">
        <div class="links">
            <a class="nav-link {% if active == 'problems' %}active{% endif %}"
                href="{% url 'contest_index' contest.pk %}">
                Problems
            </a>
            {% if user in contest.participants.all %}
            <a class="nav-link {% if active == 'submissions' %}active{% endif %}"
                href="{% url 'contest_submissions' contest.pk %}">
                Submissions
            </a>
            {% endif %}
            <a class="nav-link {% if active == 'leaderboard' %}active{% endif %}"
                href="{% url 'contest_leaderboard' contest.pk %}">
                Leaderboard
            </a>
        </div>
        {% if contest.is_in_progress %}
        <div class="remaining-time">
            Remaining Time: 
            <b class="count-down" data-end-date={{contest.end_date.isoformat}}></b>
        </div>
        {% endif %}
    </nav>
</div>

{% if contest.is_in_progress %}
<script>
function getDistanceTime(endDate) {
    const distance = new Date(endDate) - new Date();

    let time = {d: 0, h: 0, m: 0, s: 0};

    if (distance >= 0) {
        time.d = Math.floor(distance / 86400000);
        time.h = '0' + Math.floor((distance % 86400000) / 3600000);
        time.m = '0' + Math.floor((distance % 3600000) / 60000);
        time.s = '0' + Math.floor((distance % 60000) / 1000);
    }

    return time;
}

function displayCountDown(node) {
    const t = getDistanceTime(node.dataset.endDate);
    if (t.d == '0' && t.h == '00' && t.m == '00' && t.s == '00')
        clearInterval(contestInterval);
    const htmlString = `${t.d}:${t.h.slice(-2)}:${t.m.slice(-2)}:${t.s.slice(-2)}`;
    node.innerHTML = htmlString;
}

const remainingTimeCountdown = document.querySelector('.count-down');

displayCountDown(remainingTimeCountdown);

const contestInterval = setInterval(() => {
    displayCountDown(remainingTimeCountdown);
}, 1000);
</script>
{% endif %}
