{% extends 'base/base.html' %}

{% load main_tags %}

{% block stylesheet %}
<style>
    table th,
    table td {
        vertical-align: middle !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="nav-scroller bg-white shadow-sm">
    <nav class="nav nav-underline">
        <a class="nav-link" href="{% url 'contest_index' contest.pk %}">Problems</a>
        <a class="nav-link" href="{% url 'contest_submissions' contest.pk %}">Submissions</a>
        <a class="nav-link active" href="{% url 'contest_leaderboard' contest.pk %}">Leaderboard</a>
    </nav>
</div>

<div class="container mt-4">
    <div class="table-responsive">
        <table class="table table-bordered bg-white shadow-sm text-center">
            <thead class="thead-light">
                <tr>
                    <th scope="col" style="width: 5%;">Rank</th>
                    <th scope="col">User</th>
                    {% for problem in contest.problem_set.all %}
                    <th scope="col">{{ problem.title }}</th>
                    {% endfor %}
                    <th scope="col">Score</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
                {% if leaderboard %}
                {% for entry in leaderboard %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ entry.user.username }}</td>

                    {% for problem in contest.problem_set.all %}
                    <td class="p-0">
                        {% for sub in entry.final_subs %}
                        {% if sub.user == entry.user and sub.problem == problem %}
                        <div class="p-2" style="{{sub | respective_bg_color_css_rule}}">
                            <span class="font-weight-bold">{{ sub.judge_score }}</span>
                            <br>
                            <small>{{ sub.contest_start_timedelta|timedelta_hide_seconds }}</small>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </td>
                    {% endfor %}

                    <td>{{ entry.total_score }}</td>
                    <td>{{ entry.total_time|timedelta_hide_seconds }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="100%">No data</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}