{% extends 'main/base.html' %}

{% block stylesheet %}
<style>
.check-link {
    position: relative;
    width: 20px;
    height: 20px;
}
.check-link span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <nav class="p-2 nav bg-white shadow-sm rounded border mt-4">
        <a class="nav-link text-secondary" href="{% url 'contest_index' contest_pk %}">Problems</a>
        <a class="nav-link bg-secondary text-white rounded" href="{% url 'contest_submissions' contest_pk %}">Submissions</a>
        <a class="nav-link text-secondary" href="{% url 'contest_leaderboard' contest_pk %}">Leaderboard</a>
    </nav>
</div>

<div class="container mt-4">
    <div class="table-responsive">
        <table class="table table-bordered bg-white shadow-sm text-center">
            <thead class="thead-light">
                <tr>
                    <th scope="col" style="width: 5%; vertical-align: middle;">Final Code</th>
                    <th scope="col" style="vertical-align: middle;">Problem</th>
                    <th scope="col" style="vertical-align: middle;">Upload Date</th>
                    <th scope="col" style="vertical-align: middle;">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for sub in submissions %}
                <tr>
                    <td>
                        <a href="{% url 'set_as_final_sub' contest_pk sub.pk %}" class="check-link btn btn-sm {% if sub.is_final %}btn-dark{% else %}btn-outline-dark{% endif %}">
                            {% if sub.is_final %}
                            <span>&#10003;</span>
                            {% endif %}
                        </a>
                    </td>
                    <th scope="row">{{ sub.problem.title }}</th>
                    <td>{{ sub.upload_date }}</td>
                    <td>{{ sub.judge_score }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}